<div class="row plant_<%= "#{plant.id}" %>">
  <div class="col-xs-12">
    <h2><%= link_to "#{plant.name}", plant %></h2>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <%= high_chart("plant_#{plant.id}_gauge_chart", plant.moisture_gauge) %>
  </div>
  <div class="col-sm-6">
    <%= high_chart("plant_#{plant.id}_histogram_chart", plant.moisture_histogram) %>
  </div>
</div>
