<div class="row plant_<%= "#{plant.id}" %>">
  <div class="col-xs-12">
    <h2><%= link_to "#{plant.name}", plant %></h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>TODO: Insert moisture chart here.</p>
  </div>
</div>
